# Que-1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval,
updating, and management of that data. Databases are used to store and manage large amounts of information, making it easier
to perform tasks like querying for specific data, updating records, and ensuring data integrity. Databases are a crucial
component of most software applications and are used for various purposes, including storing customer information, product 
catalogs, financial records, and more.

SQL Databases:
SQL databases are relational databases that use structured query language (SQL) for defining and manipulating the data.

NoSQL Databases:
NoSQL databases are a diverse group of databases that depart from the traditional relational model. They are designed to handle various types of data, including unstructured and semi-structured data.

Key Differences:

Data Model: SQL databases use a structured, tabular data model, while NoSQL databases offer various data models, such as document-oriented, key-value, column-family, and graph.

Schema: SQL databases have a fixed schema, whereas NoSQL databases often have a flexible or schemaless approach.

Scaling: NoSQL databases are typically better suited for horizontal scaling and distributed architectures, making them more suitable for handling large and dynamic datasets.

Transaction Support: SQL databases are ACID-compliant, ensuring strong consistency and transaction support. NoSQL databases may sacrifice some ACID properties in favor of performance and scalability.

Use Cases: SQL databases are often used for applications with structured data and complex queries, such as financial systems and traditional relational applications. NoSQL databases are favored for applications with rapidly changing data, big data, and real-time analytics.

# Que-2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language)
 used for defining and managing the structure of a database. DDL statements are responsible for creating, altering, and
 deleting database objects like tables, indexes, and schemas.
    
1- CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.
It defines the structure and characteristics of the object. For example, to create a new table named employees in an SQL 
database:
  
    CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
    );
    
2-DROP: The DROP statement is used to delete database objects, such as tables, indexes, or views. It removes the object and all associated data. For example, to delete the employees table:   
   DROP TABLE employees;

3-ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, change data types, or add constraints to a table. For example, to add a new column named email to the employees table:
 ALTER TABLE employees
 ADD COLUMN email VARCHAR(100);

4-TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is faster and more efficient than the DELETE statement, which removes individual rows. For example, to remove all data from the employees table:  TRUNCATE TABLE employees;

# Que-3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language): DML is a subset of SQL (Structured Query Language) that is used to manipulate data stored 
in a database. DML statements are responsible for inserting, updating, and deleting data in database tables. These statements 
allow you to interact with and modify the content of a database.

1-INSERT:
The INSERT statement is used to add new rows (records) into a database table.
You can specify the values for each column in the inserted row or use a subquery to retrieve data from another table and insert it into the target table.
Example 1: Inserting a single row with explicit values:
        INSERT INTO employees (employee_id, first_name, last_name, hire_date)
        VALUES (1, 'John', 'Doe', '2023-01-15');

Inserting multiple rows using subquery :
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
SELECT employee_id, first_name, last_name, hire_date FROM new_hires;

2-UPDATE:

The UPDATE statement is used to modify existing data in a database table.
You specify the table to update, the columns to change, and the new values for those columns. You can also include a WHERE clause to specify which rows should be updated.
Example: Updating the salary of an employee with a specific employee ID:

UPDATE employees
SET salary = 55000
WHERE employee_id = 1;

3-DELETE:

The DELETE statement is used to remove rows from a database table based on a specified condition.
You specify the table from which to delete data and use a WHERE clause to specify which rows should be deleted. If you omit the WHERE clause, it will delete all rows in the table.
Example 1: Deleting a specific row by employee ID:
DELETE FROM employees
WHERE employee_id = 1;

# Que-4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language): DQL is a subset of SQL (Structured Query Language) used for querying and retrieving data from a 
database. DQL statements are primarily focused on selecting and fetching data from one or more database tables. 
The most common DQL statement is SELECT.

SELECT:
The SELECT statement is used to retrieve data from one or more database tables.
It allows you to specify which columns you want to retrieve, the table(s) from which to retrieve data, and optional filtering 
criteria to narrow down the results.
The result of a SELECT statement is a result set, which is a collection of rows that match the specified criteria.

SELECT column1, column2, ...
FROM table_name
WHERE condition;

SELECT first_name, last_name
FROM employees
WHERE department = 'HR';

# Que-5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a constraint in a relational database that ensures the uniqueness and integrity of a column or a set of columns
within a table. It serves as a unique identifier for each row in the table, allowing for the identification and retrieval of 
specific rows.

Foreign Key:
A foreign key is a constraint in a relational database that establishes a link between two tables, typically referred to as the
parent table (containing the primary key) and the child table (containing the foreign key). The foreign key in the child table
references the primary key in the parent table, creating a relationship between the two tables.

# Que-6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [7]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc\appdata\local\programs\python\python310\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\pc\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (4.21.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector

# Define the database connection parameters
config = {
    'user': 'root',
    'password': 'root',
    'host': 'localhost',
    'database': 'employeedb',
}

# Create a database connection
try:
    connection = mysql.connector.connect(**config)

    # Check if the connection is successful
    if connection.is_connected():
        print("Connected to the MySQL database")

        # Create a cursor object
        cursor = connection.cursor()

        # Execute SQL queries using the cursor
        # Example 1: Create a table
        create_table_query = """
        CREATE TABLE IF NOT EXISTS employees (
            employee_id INT AUTO_INCREMENT PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            department VARCHAR(255)
        )
        """
        cursor.execute(create_table_query)
        print("Table 'employees' created or already exists.")

        # Example 2: Insert data into the table
        insert_query = """
        INSERT INTO employees (first_name, last_name, department)
        VALUES ('John', 'Doe', 'HR')
        """
        cursor.execute(insert_query)
        connection.commit()
        print("Data inserted successfully.")

        # Example 3: Select data from the table
        select_query = "SELECT * FROM employees"
        cursor.execute(select_query)
        records = cursor.fetchall()
        print("Employee records:")
        for record in records:
            print(record)

except mysql.connector.Error as error:
    print(f"Error: {error}")
finally:
    # Close the cursor and database connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Database connection closed.")

cursor():
The cursor() method creates a cursor object that allows you to interact with the database. A cursor is like a pointer or handle
that you can use to execute SQL queries and fetch results.
It is used to establish a context for executing SQL statements within a database connection.

execute():
The execute() method is used to execute SQL queries and statements. It takes an SQL query or statement as its argument and sends
it to the database for execution.
For data manipulation statements (e.g., INSERT, UPDATE, DELETE), you may need to call commit() on the database connection after
executing the query to make the changes permanent.
For data retrieval statements (e.g., SELECT), you can use methods like fetchone(), fetchall(), or fetchmany() on the cursor to
retrieve the query results.

# Que-7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a query is generally as follows:

SELECT: The SELECT clause specifies the columns to be retrieved from the database. It determines which data will be returned in
the result set.

FROM: The FROM clause specifies the table or tables from which the data will be retrieved. It defines the source of the data.

WHERE: The WHERE clause (optional) filters the rows from the tables specified in the FROM clause based on a specified condition.
It restricts the rows that are included in the result set.

GROUP BY: The GROUP BY clause (optional) is used to group rows that have the same values in specified columns into summary rows.
It is typically used with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on grouped data.

HAVING: The HAVING clause (optional) filters the grouped rows based on a specified condition. It is similar to the WHERE clause 
but is used after the GROUP BY clause to filter grouped data.

ORDER BY: The ORDER BY clause (optional) specifies the order in which the result set should be sorted. It sorts the rows based
on one or more columns, either in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET: The LIMIT and OFFSET clauses (optional) are used for result set pagination. LIMIT specifies the maximum number of 
rows to be returned, and OFFSET specifies the starting point from which to retrieve rows.

UNION/INTERSECT/EXCEPT: If multiple queries are combined using set operators like UNION, INTERSECT, or EXCEPT, these operators 
determine how the result sets of the individual queries are combined.

DISTINCT: The DISTINCT keyword (optional) is used to eliminate duplicate rows from the result set, ensuring that only unique 
rows are returned.