In [1]:
'''
QUE-1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''
## Ans
name = "Jai Shree Ram "
l1 = ['Vikas','Ram','Shyam']
num = 12
t1 =('Apple','Banana','Cherry')

In [2]:
print(type(name),type(l1),type(num),type(t1))

<class 'str'> <class 'list'> <class 'int'> <class 'tuple'>

In [ ]:
'''
QUE-2. Given are some following variables containing data:
     What will be the data type of the given variable.
(i) var1 = ‘ ‘   -- unexpected comma
(ii) var2 = ‘[ DS , ML , Python]’   --unexpected camma
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  --unexpected camma
(iv) var4 = 1.   -- integer 
'''

In [ ]:
'''
QUE-3. Explain the use of the following operators using an example:
(i) /  
(ii) %
(iii) //
(iv) **

(i) Ans- Division operator '/' used to divide one number by another and return as quotient in floting point(decimal).

(ii) Ans- Modulus operator '%' return remainder when one number is divided by another. 

(iii) Ans- Floor Division Operator '//' perform division and returns the whole number quotient discarding the decimal point.

(iv) Ans- Exponentiation operator '**' raise a number to certain power and it calculates the base raised to the power of the exponent.
     example 2**3 = 8
     
'''

In [11]:
'''
QUE-4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''
l1 = ['Ram',12.5,10,('Apple','Mango'),[1,2,3],{"key","value"},complex(2,3)]
for i in l1:
    print(f"{i} | Data Type {type(i)}")

Ram | Data Type <class 'str'>
12.5 | Data Type <class 'float'>
10 | Data Type <class 'int'>
('Apple', 'Mango') | Data Type <class 'tuple'>
[1, 2, 3] | Data Type <class 'list'>
{'value', 'key'} | Data Type <class 'set'>
(2+3j) | Data Type <class 'complex'>

In [38]:
'''
QUE-5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''
A = int(input("Enter the dividend (Number A):  "))
B = int(input("Enter the divisor (Number B):  "))

if B==0:
    print("Can't divide by zero...")
else:
    count =0
    while A>=B:
        if(A%B==0):
            A -=B
            count +=1
if count > 0:
    print(f" {B} divides {A+B*count} - {count} times.")

Enter the dividend (Number A):  124
Enter the divisor (Number B):  2
 2 divides 124 - 62 times.

In [42]:
'''
QUE-6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''
data_list = [2,34,54,5,15,24,54,23,57,8,32,47,33,23,56,88,96,99,30,26,83,59,64,44,34]

for i in data_list:
    if(i%3==0):
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3 ")

2 is not divisible by 3
34 is not divisible by 3
54 is divisible by 3
5 is not divisible by 3
15 is divisible by 3
24 is divisible by 3
54 is divisible by 3
23 is not divisible by 3
57 is divisible by 3
8 is not divisible by 3
32 is not divisible by 3
47 is not divisible by 3
33 is divisible by 3
23 is not divisible by 3
56 is not divisible by 3
88 is not divisible by 3
96 is divisible by 3
99 is divisible by 3
30 is divisible by 3
26 is not divisible by 3
83 is not divisible by 3
59 is not divisible by 3
64 is not divisible by 3
44 is not divisible by 3
34 is not divisible by 3

In [46]:
'''
QUE-7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''
##  Mutable data types allow you to modify their content or properties without creating a new instance.
# Lists are mutable
mutable_list = [1, 2, 3]
mutable_list[0] = 10
print(mutable_list)

##  Immutable data types,cannot be changed after creation.

# Strings are immutable
immutable_string = "hello"
immutable_string = immutable_string.upper()
print(immutable_string)

[10, 2, 3]
HELLO