In [3]:
'''
Que-1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
'''
import pandas as pd
data =[4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
'''
Que-2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.
'''

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(l)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
'''
Que-3. Create a Pandas DataFrame that contains the following data: Name age and gender and print it.
'''
# Data for datafram
data = {
    'name':['VIKAS','VISHAL','PANKAJ','RAMPAL'],
    'age':[19,20,21,22],
    'gender':['male','male','male','male'] }

df = pd.DataFrame(data)
print(df)

     name  age gender
0   VIKAS   19   male
1  VISHAL   20   male
2  PANKAJ   21   male
3  RAMPAL   22   male

In [ ]:
'''
Que-4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans- In pandas, 'DataFrame' is a two dimensional,size mutable and heterogeneous tabular data structure with rows and column.

    'Series' is one dimensional labled array that can hold data of any type it is often used to represent single column of data.
'''

In [ ]:
'''
Que-5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example 
       of when you might use one of these functions?
 Ans- 
     import pandas as pd
    df1 = pd.read_csv("Customers.csv")
    df.head()
    df.tail()
    df.describe
    df.info()
    df.sort()
    df.drop(cloumns=['C_name'])
    df.shape()
    df.dtypes()
    df.icol() and df.col()
    
'''

In [ ]:
'''
Que-6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans- Series and DataFrame is mutable which means we can add, delete or modify columns and rows and values within dataFrame.

'''

In [17]:
'''
Que-7. Create a DataFrame using multiple Series. Explain with an example.

'''
# creating series 
names = pd.Series(['Ram','Shyam','Krishna'])
ages = pd.Series([21,22,23])
gender = pd.Series(['Male','Male','Male'])

data = {'Name':names,'Age':ages,'Gender':'gender'}
df1= pd.DataFrame(data)
print(df1)

      Name  Age  Gender
0      Ram   21  gender
1    Shyam   22  gender
2  Krishna   23  gender